<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet 1 : Portfolio</title>
</head>
<body>
    <form action="/upload_img" method="POST" enctype="multipart/form-data">
        <input type="text" name="pseudo" placeholder="Quel est ton pseudo?"/>
        <br>
        <br>
        <input type="file" name="img" accept="image/png, image/jpeg"/>
        <br>
        <br>
        <input type="submit" value="Poster" />
        {% for pic in show_pic %}
        <br>
        <br>
        <img src="{{pic}}">
        {% endfor %}
    </form>
</body>
</html>